.gameContainer {
  width: 800px; /* Desktop size */
  height: 100vh; /* Desktop size */
  display: flex;
  margin: auto;
  background-image: url("/src/assets/bg2.png");
  background-size: cover;
}

.rankContainer {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}

.headerText {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}

.rank {
  width: 80%;
  max-height: 90vh;
  background-color: white;
  min-height: 80px;
  box-shadow: 10px 15px 15px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headerText {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.characterName,
.date {
  font-size: 10px;
  color: blueviolet;
}

.score {
  font-size: 10px;
  color: red;
}

.button {
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button:hover {
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
  color: slateblue;
  border: 2px solid slateblue;
}

@media (max-width: 800px) {
  .gameContainer {
    width: 500px; /* Mobile size */
  }
}
